@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Code+Pro:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  * {
    opacity: 0;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 1s;
  }
  h2 {
    font-family: "Source Code Pro", monospace;
  }
  h1 {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 20px;
    width: fit-content;
    animation-duration: 1.2s;
    span {
      transition: 0.2s;
    }
  }
  h1:hover {
    span {
      color: #00de8e;
    }
  }
  #desc, #desc2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    animation-duration: 1.5s;
  }
  #desc2 {
    display: none;
  }
  .row {
    display: flex;
    animation-delay: 1s;
    margin-top: 50px;
  }
  .align-center {
    align-items: center;
  }
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    color: #00de8e;
    background: transparent;
    border: none;
    transition: 0.2s;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 15px;
  }
  button:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

//fade in animation keyframes
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1200px) {
  body {
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    overflow-y: auto;
    h1 {
      font-size: 4rem;
    }
    #desc{
        display: none;
    }
    #desc2 {
      display: unset;
      font-size: 1rem;
      text-align: center;
    }
    .row {
      flex-direction: column;
    }
    button {
      justify-content: center;
      font-size: 0.8rem;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
