@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

body {
  min-width: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(at center right, rgb(14, 54, 124), black, black);
}
body .navbar {
  padding: 40px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .navbar #logo {
  font-size: 2rem;
  font-weight: 500;
}
body .navbar .social-links #icon {
  cursor: pointer;
  margin-left: 40px;
  transition: 0.1s;
  transform: scale(1.2);
}
body .navbar .social-links #icon:hover {
  transform: scale(1.4);
}
body .main {
  width: 100%;
  height: 80vh;
  margin: 20px 10vw;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  align-items: center;
  overflow: hidden;
}
body .main .left {
  min-width: 500px;
  padding-bottom: 10%;
}
body .main .left span {
  font-weight: 700;
  background: -webkit-linear-gradient(cyan, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .main .left #subtext {
  font-size: 2rem;
}
body .main .container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  font-size: 2rem;
  padding: 30px;
  margin-left: 50px;
  overflow-y: auto;
  padding-bottom: 30px;
}
body .main .container::-webkit-scrollbar {
  display: none;
}
body .main .container .card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 1rem;
  margin-top: 25px;
  margin-right: 25px;
  min-width: 400px;
  width: 40%;
  max-width: 400px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}
body .main .container .card #title {
  font-size: 1.4rem;
  font-weight: 600;
}
body .main .container .card #sub-title {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0.8;
  margin-bottom: 10px;
}
body .main .container .card .chip {
  background: rgba(255, 255, 255, 0.2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
body .main .container .card:hover {
  transform: scale(1.04);
}

@media (max-width: 1200px) {
  body {
    min-width: 100vw;
    overflow-y: auto;
  }
  body .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .navbar #icon {
    margin: 40px 20px;
  }
  body .main {
    height: 100%;
    flex-direction: column;
    margin: 0;
    font-size: 2rem;
  }
  body .main .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  body .main .container {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 80%;
  }
  body .main .container #my-projects-title {
    margin-bottom: 20px;
  }
  body .main .container .card {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: none;
    min-width: auto;
    min-height: auto;
  }
  body .main .container .card #title {
    font-size: 1rem;
    font-weight: 600;
  }
  body .main .container .card #sub-title {
    font-size: 0.8rem;
  }
  body .main .container .card:hover {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */