*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    user-select: none;
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 20rem;
}

p{
    text-align: center;
    color: white;
    font-size: 5rem;
}

small{
    opacity: 0.2;
}

span {
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradAnim 4s infinite;
}