* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

section {
  width: 100%;
  min-width: 600px;
  height: 100vh;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  height: 10vh;
}

.banner header {
  background: black;
  z-index: 10000;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

.banner header .logo h2 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 900;
}

.banner header nav {
  position: relative;
}

.banner header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner header nav ul li {
  list-style: none;
}

.banner header nav ul li a {
  display: block;
  margin: 0 30px;
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.banner header nav ul .slider {
  border-radius: 30px;
  position: absolute;
  height: 5px;
  width: 120px;
  background: -webkit-gradient(linear, left top, right top, from(#0059ff), to(#00ffd5));
  background: linear-gradient(90deg, #0059ff, #00ffd5);
  bottom: -20px;
  left: 0;
}

.banner .main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.banner .main .text {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
}

.banner .main .text p,
.banner .main .text h2 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 80%;
  text-align: initial;
}

.banner .main .text h2 {
  font-size: 5rem;
  font-weight: 500;
}

.banner .main .text h2 span {
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #0059ff, #00ffd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradAnim 4s infinite;
          animation: gradAnim 4s infinite;
}

.banner .main .text p {
  font-size: 2rem;
}

.banner .main .img {
  width: 50%;
}

.banner .main .img img {
  height: 100%;
  width: 100%;
  opacity: 0.4;
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 200px 100px;
}

.about .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .text {
  width: 50%;
  height: 100%;
}

.about .container .text h2 {
  font-size: 3rem;
}

.about .container .text p {
  margin-top: 50px;
  width: 80%;
  font-size: 1.5rem;
}

.about .container .skills {
  width: 50%;
  height: 100%;
}

.about .container .skills .title h2 {
  font-size: 2rem;
}

.about .container .skills .skill-list .progress-bar {
  margin-top: 20px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .skills .skill-list .progress-bar .title {
  width: 250px;
  height: 30px;
}

.about .container .skills .skill-list .progress-bar .title p {
  font-size: 1.2rem;
}

.about .container .skills .skill-list .progress-bar .progress-back {
  border-radius: 30px;
  height: 10px;
  width: 80%;
  background: gray;
}

.about .container .skills .skill-list .progress-bar .progress {
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#0059ff), to(#00ffd5));
  background: linear-gradient(90deg, #0059ff, #00ffd5);
  width: 50%;
  height: 100%;
}

.services {
  background: white;
  padding: 200px 50px;
}

.services .container {
  background: black;
  color: white;
  height: 100%;
  border-radius: 15px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services .container .title h2 {
  font-size: 3rem;
}

.services .container .card-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .container .card-container .card {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 25%;
  margin: 10px;
  height: 300px;
  background: #333;
  border-radius: 8px;
}

.services .container .card-container .card h2 {
  font-size: 1.2rem;
}

.services .container .card-container .card p {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 1rem;
}

.services .container .card-container .card:hover {
  border-radius: 0;
  background: linear-gradient(45deg, #0059ff, #00ffd5);
}

@media (max-width: 1200px) {
  body {
    width: 100vw;
  }
  .banner header {
    padding: 20px 80px;
  }
  .banner header h2 {
    font-size: 1.5rem;
  }
  .banner .main .img {
    position: absolute;
    height: 100%;
    right: 0;
  }
  .banner .main .text {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .banner .main .text h2 {
    font-size: 3rem;
  }
  .banner .main .text p {
    font-size: 1.5rem;
  }
  .about {
    padding: 100px 50px;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .text {
    height: auto;
    width: 100%;
    text-align: center;
  }
  .about .container .text .title h2 {
    font-size: 2rem;
  }
  .about .container .text p {
    font-size: 1.2rem;
    width: 100%;
  }
  .about .container .skills {
    height: 100%;
    width: 100%;
  }
  .about .container .skills .title {
    margin-top: 50px;
    text-align: center;
  }
  .about .container .skills .skill-list {
    height: auto;
  }
  .about .container .skills .skill-list .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    height: 50px;
  }
  .about .container .skills .skill-list .progress-bar .title {
    width: 80%;
    text-align: initial;
  }
  .about .container .skills .skill-list .progress-bar .title p {
    font-size: 1rem;
  }
  .services {
    padding: 0;
  }
  .services .container {
    text-align: center;
    border-radius: 0;
    background: white;
    color: black;
  }
  .services .container img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .services .container .card-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .container .card-container .card {
    margin: 0px;
    padding: 0px;
    background: white;
    width: 100%;
    height: auto;
  }
  .services .container .card-container .card:hover {
    background: transparent;
  }
  .services .container .title h2 {
    font-size: 2rem;
  }
  nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */