* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    user-select: none;
}

$gradient: linear-gradient(90deg, rgb(0, 89, 255), rgb(0, 255, 213));

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
    display: none;
    background: transparent;
}

section {
    width: 100%;
    height: 100vh;
    min-width: 600px;
    min-height: 1000px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.banner {
    header {
        background: black;
        z-index: 10000;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 40px 80px;
        box-sizing: border-box;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        .logo {
            h2 {
                transition: 0.4s;
                font-weight: 900;
            }
        }
        .menu {
            display: none;
            width: 30px;
            height: 30px;
            background: url("./menu.svg");
        }
        nav {
            position: relative;
            ul {
                display: flex;
                li {
                    list-style: none;
                    a {
                        display: block;
                        margin: 0 30px;
                        font-weight: 500;
                        font-size: 1.3rem;
                        color: white;
                        text-decoration: none;
                    }
                }
                .slider {
                    border-radius: 30px;
                    position: absolute;
                    height: 5px;
                    width: 120px;
                    background: $gradient;
                    bottom: -20px;
                    left: 0;
                }
            }
        }
    }
    .main {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        .text {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 50%;
            p,
            h2 {
                transition: 0.4s;
                width: 80%;
                text-align: initial;
            }
            h2 {
                font-size: 5rem;
                font-weight: 500;
            }
            p {
                font-size: 2rem;
            }
        }
        .img {
            width: 50%;
            img {
                height: 100%;
                width: 100%;
                opacity: 0.4;
                float: right;
                object-fit: cover;
            }
        }
    }
}

span {
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradAnim 4s infinite;
}

.about {
    padding: 200px 100px;
    .container {
        height: 100%;
        display: flex;
        .text {
            width: 50%;
            height: 100%;
            h2 {
                font-size: 3rem;
            }
            p {
                margin-top: 50px;
                width: 80%;
                font-size: 1.5rem;
            }
        }
        .skills {
            margin: 15px;
            width: 50%;
            height: 100%;
            .title {
                h2 {
                    font-size: 2rem;
                }
            }
            .skill-list .progress-bar {
                margin-top: 20px;
                height: 80px;
                align-items: center;
                .title {
                    width: 250px;
                    height: 30px;
                    p {
                        font-size: 1.2rem;
                    }
                }
                .progress-back {
                    border-radius: 30px;
                    height: 10px;
                    width: 80%;
                    background: gray;
                }
                .progress {
                    border-radius: 30px;
                    background: $gradient;
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
}

.services {
    background: white;
    padding: 150px 50px;
    .container {
        background: black;
        color: white;
        height: 100%;
        border-radius: 15px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        .title h2 {
            font-size: 3rem;
        }
        .card-container {
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .card {
                transition: 0.4s;
                width: 25%;
                margin: 10px;
                height: 350px;
                padding: 20px;
                background: #151515;
                border-radius: 20px;
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    margin-top: 10px;
                    padding: 0 20px;
                    font-size: 1rem;
                }
            }
            .card:hover {
                border-radius: 0;
                background: linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
            }
        }
    }
}

.contact {
    padding: 150px 50px;
    min-height: 1050px;
    .container {
        background: #151515;
        height: 100%;
        padding: 50px;
        overflow: hidden;
        border-radius: 15px;
        .title h2 {
            font-size: 3rem;
        }
        .row {
            .left {
                padding-top: 20px;
                height: 100%;
                width: 40%;
                form {
                    display: flex;
                    flex-direction: column;
                    input,
                    textarea {
                        outline: 0;
                        background: transparent;
                        color: white;
                        height: 50px;
                        margin-bottom: 20px;
                        border: 1px solid white;
                        padding: 10px;
                    }
                    input::placeholder,
                    textarea::placeholder {
                        color: white;
                    }
                    textarea {
                        height: 200px;
                        resize: none;
                    }
                    input[type="submit"] {
                        cursor: pointer;
                        transition: 0.4s;
                        background: black;
                        height: 70px;
                        border: 0;
                        border-radius: 20px;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                    input[type="submit"]:hover {
                        border-radius: 0;
                        background: linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
                    }
                }
            }
            .right {
                width: 60%;
                padding: 20px;
                padding-left: 70px;
                .card {
                    transition: 0.4s;
                    border-radius: 20px;
                    overflow: hidden;
                    background: black;
                    margin-bottom: 20px;
                    padding: 20px 50px;
                    h2 {
                        font-size: 1.3rem;
                    }
                    .logos {
                        img {
                            transition: 0.2s;
                            width: 35px;
                            margin: 15px;
                        }

                        img:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                .card:hover {
                    border-radius: 0;
                    background: linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
                }
            }
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #151515;
    padding: 75px;
}

a {
    text-decoration: none;
    color: white;
}

.pointer {
    cursor: pointer;
}

address {
    user-select: text;
}

hr {
    display: none;
}

@media (max-width: 1200px) {

    body {
        width: 100vw;
    }

    hr {
        display: block;
    }

    .banner {
        header {
            padding: 20px 80px;
            h2 {
                font-size: 1.5rem;
            }
            .menu{
                display: block;
            }
        }
        .main {
            .img {
                position: absolute;
                height: 100%;
                right: 0;
            }
            .text {
                position: absolute;
                width: 100%;
                z-index: 1;
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .about {
        padding: 100px 50px;
        .container {
            flex-direction: column;
            .text {
                height: auto;
                width: 100%;
                text-align: center;
                .title h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.2rem;
                    width: 100%;
                    padding: 0 10%;
                }
            }
            .skills {
                height: 100%;
                width: 100%;
                margin-top: 70px;
                .title {
                    margin-top: 50px;
                    text-align: center;
                }
                .skill-list {
                    height: auto;
                    .progress-bar {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;
                        height: 50px;
                        .title {
                            width: 80%;
                            text-align: initial;
                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .services {
        height: 130vh;
        padding: 0;
        .container {
            text-align: center;
            border-radius: 0;
            background: white;
            color: black;
            img {
                filter: invert(1);
            }
            .card-container {
                margin-top: 0;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .card {
                    margin: 30px;
                    padding: 0px;
                    background: white;
                    width: 100%;
                    height: auto;
                }
                .card:hover {
                    background: transparent;
                }
            }
            .title h2 {
                font-size: 2rem;
            }
        }
    }

    .contact {
        height: 140vh;
        padding: 0;
        .container {
            border-radius: 0;
            text-align: center;
            .row {
                margin: 0 5%;
                flex-direction: column;
                .left,
                .right {
                    width: 100%;
                }
                * {
                    margin: 0;
                }
                .left {
                    margin-top: 25px;
                }
                .right {
                    margin-top: 25px;
                    padding: 0;
                }
            }
        }
    }

    nav {
        display: none;
    }

    .footer {
        background: #000;
    }

}

@media (min-width: 2000px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section,
    header {
        max-width: 2000px;
    }
}

@media (min-height: 1000px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section,
    header {
        max-height: 1000px;
    }
}
