* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

$gradient: linear-gradient(90deg, rgb(0, 89, 255), rgb(0, 255, 213));

body {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
}

section {
    width: 100%;
    min-width: 600px;
    height: 100vh;
}

.footer {
    height: 10vh;
}

.banner {
    header {
        z-index: 10000;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 40px 80px;
        box-sizing: border-box;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        .logo {
            h2 {
                font-weight: 900;
            }
        }
        nav {
            position: relative;
            ul {
                display: flex;
                li {
                    list-style: none;
                    a {
                        display: block;
                        margin: 0 30px;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: white;
                        text-decoration: none;
                    }
                }
                .slider {
                    border-radius: 30px;
                    position: absolute;
                    height: 5px;
                    width: 120px;
                    background: $gradient;
                    bottom: -20px;
                    left: 0;
                }
            }
        }
    }
    .main {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        .text {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 50%;
            p,
            h2 {
                width: 80%;
                text-align: initial;
            }
            h2 {
                font-size: 5rem;
                font-weight: 500;
                span {
                    font-weight: 700;
                    background: -webkit-linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: gradAnim 4s infinite;
                }
            }
            p {
                font-size: 2rem;
            }
        }
        .img {
            width: 50%;
            img {
                height: 100%;
                opacity: 0.4;
                float: right;
                object-fit: cover;
            }
        }
    }
}

.about {
}

.services {
}

.contact {
}

.footer {
}

@media (max-width: 991px) {
    body {
        width: 100vw;
    }

    .banner {
        header {
            h2 {
                font-size: 1.7rem;
            }
            padding: 20px 40px;
        }
        .main {
            .text {
                h2 {
                    font-size: 3rem;
                }
                p{
                    font-size: 1.7rem;
                }
            }
        }
    }

    nav {
        display: none;
    }
}
