* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

$gradient: linear-gradient(90deg, rgb(0, 89, 255), rgb(0, 255, 213));

html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
    display: none;
    background: transparent;
}

section {
    width: 100%;
    min-width: 600px;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 10vh;
}

.banner {
    header {
        background: black;
        z-index: 10000;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 40px 80px;
        box-sizing: border-box;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        .logo {
            h2 {
                transition: 0.4s;
                font-weight: 900;
            }
        }
        nav {
            position: relative;
            ul {
                display: flex;
                li {
                    list-style: none;
                    a {
                        display: block;
                        margin: 0 30px;
                        font-weight: 500;
                        font-size: 1.3rem;
                        color: white;
                        text-decoration: none;
                    }
                }
                .slider {
                    border-radius: 30px;
                    position: absolute;
                    height: 5px;
                    width: 120px;
                    background: $gradient;
                    bottom: -20px;
                    left: 0;
                }
            }
        }
    }
    .main {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        .text {
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 50%;
            p,
            h2 {
                transition: 0.4s;
                width: 80%;
                text-align: initial;
            }
            h2 {
                font-size: 5rem;
                font-weight: 500;
                span {
                    font-weight: 700;
                    background: -webkit-linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: gradAnim 4s infinite;
                }
            }
            p {
                font-size: 2rem;
            }
        }
        .img {
            width: 50%;
            img {
                height: 100%;
                width: 100%;
                opacity: 0.4;
                float: right;
                object-fit: cover;
            }
        }
    }
}

.about {
    padding: 200px 100px;
    .container {
        height: 100%;
        display: flex;
        .text {
            width: 50%;
            height: 100%;
            h2 {
                font-size: 3rem;
            }
            p {
                margin-top: 50px;
                width: 80%;
                font-size: 1.5rem;
            }
        }
        .skills {
            width: 50%;
            height: 100%;
            .title{
                    h2{
                        font-size: 2rem;
                    }
            }
            .skill-list .progress-bar {
                margin-top: 20px;
                height: 80px;
                align-items: center;
                .title {
                    width: 250px;
                    height: 30px;
                    p{
                        font-size: 1.2rem;
                    }
                }
                .progress-back {
                    border-radius: 30px;
                    height: 10px;
                    width: 80%;
                    background: gray;
                }
                .progress {
                    border-radius: 30px;
                    background: $gradient;
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
}

.services {
    background: white;
    padding: 200px 50px;
    .container{
        background: black;
        color: white;
        height: 100%;
        border-radius: 15px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .title h2{
            font-size: 3rem;
        }
        .card-container{
            text-align: center;
            display: flex;
            justify-content: space-between;
            .card{
                transition: 0.4s;
                width: 25%;
                margin: 10px;
                height: 300px;
                background: #333;
                border-radius: 8px;
                h2{
                    font-size: 1.2rem;
                }
                p{
                    margin-top: 10px;
                    padding: 0 20px;
                    font-size: 1rem;
                }
            }
            .card:hover{
                border-radius: 0;
                background: linear-gradient(45deg, rgb(0, 89, 255), rgb(0, 255, 213));
            }
        }
    }
}

.contact {
}

.footer {
}

@media (max-width: 1200px) {
    body {
        width: 100vw;
    }

    .banner {
        header {
            padding: 20px 80px;
            h2 {
                font-size: 1.5rem;
            }
        }
        .main {
            .img {
                position: absolute;
                height: 100%;
                right: 0;
            }
            .text {
                position: absolute;
                width: 100%;
                z-index: 1;
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .about {
        padding: 100px 50px;
        .container {
            flex-direction: column;
            .text {
                height: auto;
                width: 100%;
                text-align: center;
                .title h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.2rem;
                    width: 100%;
                }
            }
            .skills {
                height: 100%;
                width: 100%;
                .title {
                    margin-top: 50px;
                    text-align: center;
                }
                .skill-list {
                    height: auto;
                    .progress-bar {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;
                        height: 50px;
                        .title {
                            width: 80%;
                            text-align: initial;
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .services{
        padding: 0;
        .container{
            text-align: center;
            border-radius: 0;
            background: white;
            color: black;
            img{
                filter: invert(1);
            }
            .card-container{
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .card{
                    margin: 0px;
                    padding: 0px;
                    background: white;
                    width: 100%;
                    height: auto;
                }
                .card:hover{
                    background: transparent;
                }
            }
            .title h2{
                font-size: 2rem;
            }
        }
        
    }
    nav {
        display: none;
    }
}
