* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

section {
  width: 100%;
  height: 100vh;
  min-width: 600px;
  min-height: 1000px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menulist {
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 20000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.menulist ul li {
  list-style: none;
  text-align: center;
  letter-spacing: 5px;
  margin: 35px;
  width: 300px;
}

.menulist ul li a {
  color: white;
}

.menulist .close {
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 30px;
  right: 80px;
  background: url("./close.svg");
}

.banner header {
  z-index: 10000;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

.banner header .logo h2 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 900;
}

.banner header .menu {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  background: url("./menu.svg");
}

.banner header nav {
  position: relative;
}

.banner header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner header nav ul li {
  list-style: none;
}

.banner header nav ul li a {
  display: block;
  margin: 0 30px;
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.banner header nav ul .slider {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 30px;
  position: absolute;
  height: 5px;
  width: 120px;
  background: -webkit-gradient(linear, left top, right top, from(#0059ff), to(#00ffd5));
  background: linear-gradient(90deg, #0059ff, #00ffd5);
  bottom: -20px;
  left: 0;
}

.banner .main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.banner .main .text {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
}

.banner .main .text p,
.banner .main .text h2 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 80%;
  text-align: initial;
}

.banner .main .text h2 {
  font-size: 5rem;
  font-weight: 500;
}

.banner .main .text p {
  font-size: 2rem;
}

.banner .main .img {
  width: 50%;
}

.banner .main .img img {
  height: 100%;
  width: 100%;
  opacity: 0.4;
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
}

span {
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #0059ff, #00ffd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradAnim 4s infinite;
          animation: gradAnim 4s infinite;
}

.about {
  padding: 200px 100px;
}

.about .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .text {
  width: 50%;
  height: 100%;
}

.about .container .text h2 {
  font-size: 3rem;
}

.about .container .text p {
  margin-top: 50px;
  width: 80%;
  font-size: 1.5rem;
}

.about .container .skills {
  margin: 15px;
  width: 50%;
  height: 100%;
}

.about .container .skills .title h2 {
  font-size: 2rem;
}

.about .container .skills .skill-list .progress-bar {
  margin-top: 20px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .skills .skill-list .progress-bar .title {
  width: 250px;
  height: 30px;
}

.about .container .skills .skill-list .progress-bar .title p {
  font-size: 1.2rem;
}

.about .container .skills .skill-list .progress-bar .progress-back {
  border-radius: 30px;
  height: 10px;
  width: 80%;
  background: gray;
}

.about .container .skills .skill-list .progress-bar .progress {
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#0059ff), to(#00ffd5));
  background: linear-gradient(90deg, #0059ff, #00ffd5);
  width: 0%;
  height: 100%;
}

.services {
  background: white;
  padding: 150px 50px;
}

.services .container {
  background: black;
  color: white;
  height: 100%;
  border-radius: 15px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .container .title h2 {
  font-size: 3rem;
}

.services .container .card-container {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.services .container .card-container .card {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 25%;
  margin: 10px;
  height: 350px;
  padding: 20px;
  background: #151515;
  border-radius: 20px;
}

.services .container .card-container .card h2 {
  font-size: 1.2rem;
}

.services .container .card-container .card p {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 1rem;
}

.services .container .card-container .card:hover {
  border-radius: 0;
  background: linear-gradient(45deg, #0059ff, #00ffd5);
}

.contact {
  padding: 150px 50px;
  min-height: 1050px;
}

.contact .container {
  background: #151515;
  height: 100%;
  padding: 50px;
  overflow: hidden;
  border-radius: 15px;
}

.contact .container .title h2 {
  font-size: 3rem;
}

.contact .container .row .left {
  padding-top: 20px;
  height: 100%;
  width: 40%;
}

.contact .container .row .left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .row .left form input,
.contact .container .row .left form textarea {
  outline: 0;
  background: transparent;
  color: white;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px;
}

.contact .container .row .left form input::-webkit-input-placeholder,
.contact .container .row .left form textarea::-webkit-input-placeholder {
  color: white;
}

.contact .container .row .left form input:-ms-input-placeholder,
.contact .container .row .left form textarea:-ms-input-placeholder {
  color: white;
}

.contact .container .row .left form input::-ms-input-placeholder,
.contact .container .row .left form textarea::-ms-input-placeholder {
  color: white;
}

.contact .container .row .left form input::placeholder,
.contact .container .row .left form textarea::placeholder {
  color: white;
}

.contact .container .row .left form textarea {
  height: 200px;
  resize: none;
}

.contact .container .row .left form input[type="submit"] {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: black;
  height: 70px;
  border: 0;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.contact .container .row .left form input[type="submit"]:hover {
  border-radius: 0;
  background: linear-gradient(45deg, #0059ff, #00ffd5);
}

.contact .container .row .right {
  width: 60%;
  padding: 20px;
  padding-left: 70px;
}

.contact .container .row .right .card {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  overflow: hidden;
  background: black;
  margin-bottom: 20px;
  padding: 20px 50px;
}

.contact .container .row .right .card h2 {
  font-size: 1.3rem;
}

.contact .container .row .right .card .logos img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 35px;
  margin: 15px;
}

.contact .container .row .right .card .logos img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .container .row .right .card:hover {
  border-radius: 0;
  background: linear-gradient(45deg, #0059ff, #00ffd5);
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 75px;
}

a {
  text-decoration: none;
  color: white;
}

.pointer {
  cursor: pointer;
}

address {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

hr {
  display: none;
}

.h-active {
  background: black;
}

.h-active-2 {
  background: black;
}

.h-invert {
  background: white;
  color: black;
}

.h-invert nav ul li a, .h-invert .menu {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 1200px) {
  body {
    width: 100vw;
  }
  hr {
    display: block;
  }
  .banner header {
    padding: 20px 80px;
  }
  .banner header h2 {
    font-size: 1.5rem;
  }
  .banner header .menu {
    display: block;
  }
  .banner .main .img {
    position: absolute;
    height: 100%;
    right: 0;
  }
  .banner .main .text {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .banner .main .text h2 {
    font-size: 3rem;
  }
  .banner .main .text p {
    font-size: 1.5rem;
  }
  .about {
    padding: 100px 50px;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .text {
    height: auto;
    width: 100%;
    text-align: center;
  }
  .about .container .text .title h2 {
    font-size: 2rem;
  }
  .about .container .text p {
    font-size: 1.2rem;
    width: 100%;
    padding: 0 10%;
  }
  .about .container .skills {
    height: 100%;
    width: 100%;
    margin-top: 70px;
  }
  .about .container .skills .title {
    margin-top: 50px;
    text-align: center;
  }
  .about .container .skills .skill-list {
    height: auto;
  }
  .about .container .skills .skill-list .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    height: 50px;
  }
  .about .container .skills .skill-list .progress-bar .title {
    width: 80%;
    text-align: initial;
  }
  .about .container .skills .skill-list .progress-bar .title p {
    font-size: 1rem;
  }
  .services {
    height: 130vh;
    padding: 0;
  }
  .services .container {
    text-align: center;
    border-radius: 0;
    background: white;
    color: black;
  }
  .services .container img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .services .container .card-container {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .container .card-container .card {
    margin: 30px;
    padding: 0px;
    background: transparent;
    width: 100%;
    height: auto;
  }
  .services .container .card-container .card:hover {
    background: transparent;
  }
  .services .container .title h2 {
    font-size: 2rem;
  }
  .contact {
    height: 140vh;
    padding: 0;
  }
  .contact .container {
    border-radius: 0;
    text-align: center;
  }
  .contact .container .row {
    margin: 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .row .left,
  .contact .container .row .right {
    width: 100%;
  }
  .contact .container .row * {
    margin: 0;
  }
  .contact .container .row .left {
    margin-top: 25px;
  }
  .contact .container .row .right {
    margin-top: 25px;
    padding: 0;
  }
  nav {
    display: none;
  }
}

@media (min-width: 2000px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section,
  header {
    max-width: 2000px;
  }
}
/*# sourceMappingURL=style.css.map */